# Django Backend Environment Variables

# Django Settings
SECRET_KEY=django-insecure-z(!23$5v6=s&71+ty_em-*5)fvnp&d^lhj(m+-hx^r^y^vcrlu
DEBUG=True

# Database Configuration
DB_NAME=InventoryV2
DB_USER=postgres
DB_PASSWORD=vuth123321
DB_HOST=localhost
DB_PORT=5432

# KHQR Payment Configuration
KHQR_BASE_URL=https://api-bakong.nbc.gov.kh
KHQR_EMAIL=mengheang101006@gmail.com
KHQR_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImlkIjoiZGVmOGYxNWRmZjRkNGEwOCJ9LCJpYXQiOjE3NjYyMDMzNDIsImV4cCI6MTc3Mzk3OTM0Mn0.jkdGNegk8XCFSVaNfI-YgRsN4iz_c6aif6kFknHBQlw
KHQR_BAKONG_ACCOUNT_ID=oun_mengheang@aclb
KHQR_MERCHANT_NAME=Oun MengHeang
KHQR_MERCHANT_CITY=Phnom Penh
KHQR_APP_ICON_URL=https://yourdomain.com/logo.png
KHQR_APP_NAME=Santepheap Store
KHQR_APP_DEEPLINK_CALLBACK=http://localhost:3000/invoices
